
/*body {

	padding:100px 300px;
	font-size: ;
	text-align: center;

}
table {

	height:400px;
	width: 400px;
	background-color:blue;
	margin: 200px, 200px;
		
}

a {

	text-decoration: none;
	
}
*/


.Square {
	width:40px;
	height: 40px;
	text-align: center;
	font-size: 18pt;
	font-weight: bold;
	
}